<p style="color: green"><%= notice %></p>

<h1>Green Bean Products</h1>

<div id="products">
  <% @products.each do |product| %>
    <p>
      <%= link_to product.product_name, product %>
    </p>
    <%# <%= render product %>
  <% end %>
</div>

<%# <%= link_to "New product", new_product_path %>
